.hero {
    @include full-width;
    @include padV;

    align-items: center;
    background-color: #333;
    //background-image: url('http://acpt.coloniallife.com/~/media/A30CD5BC7A05473CAA7BE63D11A26711');
    background-image: url('http://acpt.coloniallife.com/~/media/55431D20604F4A50B2C314A2A532B1AD');
    //background-image: url('http://acpt.coloniallife.com/~/media/F8FA3E9C2C5C44DEBD5C115A52F73BAC');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 80vh;

    &__title {
        color: #fff;
        font-family: 'Oswald', sans-serif;
        font-size: 3rem;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;

        @media only screen and (min-width: 64rem) {
            font-size: 6rem;
        }

        @media only screen and (min-width: 76.8rem) {
            font-size: 8rem;
        }
    }

    &__link {
        background-color: #265B80;
        border-radius: 0.3rem;
        color: #fff;
        display: inline-block;
        text-decoration: none;
        padding: 1rem 3rem;
    }
}