.hero {
    @include full-width;
    @include padV;

    align-items: center;
    display: flex;
    background-color: #333;
    background-image: url('http://acpt.coloniallife.com/~/media/A30CD5BC7A05473CAA7BE63D11A26711');
    background-size: cover;
    background-position: center center;
    min-height: 80vh;

    &-title {
        color: #fff;
        font-family: 'Oswald', sans-serif;
        font-size: 3rem;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;

        @media only screen and (min-width: 64rem) {
            font-size: 6rem;
        }

        @media only screen and (min-width: 76.8rem) {
            font-size: 8rem;
        }
    }
}