.main-footer{
    background-color: #265b80;
    color: rgba(255,255,255,.4);
    letter-spacing: .5px;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;

    &__logo {
        content: "";
    }
}