.product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__heading {
        color: #265b80;
        font-size: 2.4rem;
        text-transform: uppercase;

        font-weight: 300;
        font-style: normal;

        @media only screen and (min-width: 76.8rem) {
            font-size: 4rem;
        }
    }

    &__wrapper {
        @media only screen and (min-width: 64rem) {
            display: flex;
        }
    }

    &__video {
        
        @media only screen and (min-width: 64rem) {
            order: 2;
            flex: 1 0 33%;
        }

        iframe {
            width: 100%;

            @media only screen and (min-width: 46.6rem) {
                height: 25rem;
            }
        }
    }

    &__copy {
        
        @media only screen and (min-width: 64rem) {
            flex: 1 1 auto;
            margin-right: 3rem;
            order: 1;
        }
    }

    &__gauranteed-issue {
        font-style: italic;
    }

    &__learn-more {
        color: inherit;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
    }
}