.product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__heading {
        color: #265b80;
        font-size: 24px;
        text-transform: uppercase;

        font-weight: 300;
        font-style: normal;
        letter-spacing: 0px;
        line-height: 1.2em;

        @media only screen and (min-width: 768px) {
            font-size: 42px;
        }
    }

    &__wrapper {
        @media only screen and (min-width: 800px) {
            display: flex;
        }
    }

    &__video {

        padding-bottom: 56.25%;
        position: relative;
        
        @media only screen and (min-width: 800px) {
            order: 2;
            flex: 1 0 33%;

            padding-bottom: 19.25%;
        }

        iframe {
            
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            // @media only screen and (min-width: 466px) {
            //     height: 250px;
            // }
        }
    }

    &__copy {
        @media only screen and (min-width: 800px) {
            order: 1;
            flex: 1 1 auto;

            padding-right: 20px;
        }
    }

    &__gauranteed-issue {
        font-style: italic;
    }

    &__learn-more {
        color: inherit;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
    }


}